html,
body {
    height: 100%;
    text-align: center;
}

#canvas {
    box-sizing: border-box;
    border: 1px solid #000;
    display: block;
    margin: 10px auto;
}

#clear {
    float: left;
    margin: 0 0 0 10%;
}

#send {
    float: right;
    margin: 0 10% 0 0;
}